/**
 * Styles for queue messages displayed in the CE.
 */

.toast-message {
  border-radius: 4px;
  color: #111111;
  font-size: .875rem;
  line-height: 1;
  margin: auto auto 8px;
  min-width: 12rem;
  padding: .5rem;
  width: fit-content;
}

.toast-message.info {
  background-color: #BFE7F7;
  border: 1px solid #009FDF;
}

.toast-message.success {
  background-color: #D8EED1;
  border: 1px solid #62BB46;
}

.toast-message.error {
  background-color: #FBCFDA;
  border: 1px solid #EF3F6B;
}