/**
 * Styles for queue messages displayed in the CE.
 */

.toast-message {
  font-size: 1rem;
  margin: auto auto 8px;
  padding: 5px;
  width: 80%;
}

.toast-message.info {
  background-color: #cce8f4;
  border: 1px solid #3e7599;
  color: #3e7599;
}

.toast-message.success {
  background-color: #b4dfa4;
  border: 1px solid #416d30;
  color: #416d30;
}

.loading-overlay {
  align-items: center;
  background-color: rgba(245, 245, 245, 0.85);
  color: #000;
  display: flex;
  font-size: 1.5rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
