/**
 * Styles for the queue page.
 */

* {
  box-sizing: border-box;
}

label,
p {
  font-size: 1rem;
}

button {
  background-color: #efefef;
  border: 1px solid #767676;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

button:hover,
button:active {
  filter: brightness(0.93);
}

button > * {
  pointer-events: none;
}

.hidden-input {
  float: left;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  width: 0;
}

.btn--red {
  background-color: lightsalmon;
  border: 1px solid red;
}

.btn--green {
  background-color: lightgreen;
  border: 1px solid green;
}

.flex {
  display: flex;
}

.column {
  padding: 0 10px;
}

.column:first-child {
  border-right: 1px solid gray;
}

.image-drop-area {
  background-color: #eee;
  border: 1px solid gray;
  height: calc(130px * 6);
  overflow: auto;
  max-height: 60vh;
  padding: 10px;
  width: calc(100px * 4);
}

.image-drop-area--active {
  border: 2px solid blue;
}

.queue-wrapper {
  height: 90vh;
  overflow: auto;
  padding: 10px;
}

.queue {
  min-width: 320px;
  text-align: center;
}

.queue th {
  padding: 5px 0;
}

.queue td {
  border-top: 1px solid gray;
  text-align: center;
}
